:root {
    --base-background-color: #ffffff;
    --base-font-color: #31343f;

    // Primary 相关颜色
    --primary-color: #f28b44;
    --primary-bg-color: #FEF8F4;
    --primary-border: #FBC6A1;

    // Danger 相关颜色
    --danger-main: #F6544A;

    //border
    --neutral-40-border: #EAECF3
}